*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

strong, b {
  font-weight: bolder;
}
body {
  margin: 0;
  font-size: 0.875rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.01071em;
  text-align: left;
  color: #6c757d;
  background-color: #fafbfe;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.wrap{
  height: 100%;
  overflow: hidden;
  width: "100%";
}

.content-page{
  float: right;
  min-height: 100vh;
  width: 100%;
  overflow: auto;
  position: relative;
  max-height: 100%;
}

.content{
  padding: 10px 15px 30px 15px;
}

@media (min-width:600px) {
  .content-page {
    width: calc(100% - 250px);
  }
}

 .card-header, .card-title {
  border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
  margin-top: 0;
  text-align: center;
  padding-bottom: 1rem;
  padding-top: 1rem;
  background-color: #727cf5;
  border-bottom: 1px solid #eef2f7;
  margin-bottom: 0;
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.badge {
  display: inline-block;
  padding: .65em 1.15em;
  font-size: 75%;
  font-weight: 600;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: center;
  border-radius: 1rem;
}

.badge-success {
  color: 
#fff;
background-color:
  #0acf97;
}

.badge-danger {
  color: 
#fff;
background-color:
  #fa5c7c;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: 
  #fff;
  background-clip: initial;
  border: 1px solid #e3eaef;
  border-radius: .25rem;
}

.card {
  border: none;
  box-shadow: 0 0 35px 0 
  rgba(154,161,171,.15);
  margin-bottom: 30px;
}